@use "../../assets/sass/variables" as *;

.card {
  height: 40rem;
  width: 30rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-self: center;

  &__image {
    height: 20rem;
    width: 8rem;
    align-self: center;
  }

  &__name {
    font-family: $font-text;
    font-size: 1rem;
    align-self: center;
  }

  &__description {
    font-size: 1rem;
    align-self: center;
  }

  &__brewers {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1200px) {
.card {
  height: 35rem;
  width: 15rem;

  &__name {
    font-size: 0.8rem;
  }

  &__description {
    font-size: 0.8rem;
  }

  &__brewers {
    font-size: 0.8rem;
  }

  &__image {
    height: 12rem;
    width: 5rem;
  }
}
}

