@use "../../assets/sass/variables" as *;


.search-beer-tile {

  &__message {
    margin: 1rem;
    font-family: $font-text;

    @media screen and (max-width: 500px) {
      font-size: 0.8rem;
      
    }
  }
}
  
