@use "../../assets/sass/variables" as *;

.nav {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 1rem;
  background-color: $color-secondary;

  &__image {
      height: 7rem;
      width: 10rem;
  }

  &__filters {
    font-family: $font-heading;
  }

}

 @media screen and (max-width: 1200px) {
    
  .nav {
    height: 3rem;

    &__image {
      height: 5rem;
      width: 8rem;
    }
  }

}
  
  @media screen and (max-width: 500px) {
    .nav {
      flex-direction: column;
      height: 10rem;
    }
   
  }