@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&display=swap');

$font-heading: "Montserrat";
$font-text: "Merriweather";

$color-black: #2d3436;
$color-white: #ffffff;
$color-grey: #d1d1e9;

$color-primary: #5dadb0;
$color-secondary: #fdcb6e;

a:link, 
a:visited {
  text-decoration: none;
}